@{
    ViewData["Title"] = "Rock Paper Scissors";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rock Paper Scissors!</h1>
    <div>
        <a asp-controller="Game" asp-action="Weapons">Start!</a>
    </div>
</div>
