@model RockPaperScissors.Models.BattleViewModel

<div>
    <div>
        <h2>@Model.BattleResult</h2>
    </div>
    <div>
        You: @Model.PlayerWeapon
    </div>
    <div>
        VS
    </div>
    <div>
        Enemy: @Model.AIWeapon
    </div>
</div>